.lead__illustration_image {
    object-fit: cover;
    align-items: center;
    margin: 0;
    max-width: 984px;
    width: 100%;
}

@media screen and (max-width: 1023px) {
    .lead__illustration_image {
        max-width: 100%;
    }
}