.cover__link {
        background-image: url(../../../images/cover-trains.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #FFFFFF;
        width: 100%;
        height: 100%
}

@media screen and (max-width: 1279px) {
    .cover__link {
        max-width: 100%;
    }
}

@media screen and (max-width: 1023px) {
    .cover__link {
        max-width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .cover__link {
        max-width: 100%;
    }
}

.cover__link:before {
    content: '';
    background: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}
  
.cover__link:hover:before {
    opacity: 0.8;
}