.photo-grid {
  display: grid;
  max-width: 92.5%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  margin: 92px auto 0;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
    max-width: 90.63%;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    margin-top: 88px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
    max-width: 93.75%;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    margin-top: 64px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 12px;
    max-width: 90%;
  }
}