.places {
  max-width: 984px;
<<<<<<< HEAD
  margin: 92px auto 92px;
}

@media screen and (max-width: 1279px) {
  .places {
    max-width: 90.63%;
  }
}

@media screen and (max-width: 900px) {
  .places {
    max-width: 93.75%;
    margin-top: 88px;
    margin-bottom: 90px;
=======
  margin: 92px auto;
}

@media screen and (min-width: 995px) and (max-width: 1279px){
  .places {
    max-width: 928px;
  }
}

@media screen and (min-width: 768px) and (max-width: 995px) {
  .places {
    max-width: 720px;
>>>>>>> ac3ca31cfc5da547fa30bffae232d34f1d91c5f0
  }
}

@media screen and (max-width: 767px) {
  .places {
<<<<<<< HEAD
    max-width: 100%;
    margin-top: 64px;
    margin-bottom: 66px;
=======
    max-width: 320px;
>>>>>>> ac3ca31cfc5da547fa30bffae232d34f1d91c5f0
  }
}