.lead {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  max-width: 80%;
}

<<<<<<< HEAD
@media screen and (max-width: 1279px) {
  .lead {
      max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
=======
@media screen and (max-width: 1024px) {
  .lead {
      max-width: 90.63%;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
>>>>>>> ac3ca31cfc5da547fa30bffae232d34f1d91c5f0
  .lead {
    max-width: 100%;
  }
}