.lead {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  max-width: 80%;
}

@media screen and (max-width: 1024px) {
  .lead {
      max-width: 90.63%;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 100%;
  }
}