.place__picture {
    max-width: 100%;
<<<<<<< HEAD
}

@media screen and (max-width: 900px) {
    .place__pharagraph {
      max-width: 340px;
    }
}

@media screen and (max-width: 767px) {
  .place__pharagraph {
    max-width: 320px;
    max-width: 100%;
  }
=======
>>>>>>> ac3ca31cfc5da547fa30bffae232d34f1d91c5f0
}