.cover__subtitle {
    max-width: 360px;
<<<<<<< HEAD
    font-family: 'Inter', Arial, Helvetica, sans-serif;
=======
    font-family: 'Inter';
>>>>>>> ac3ca31cfc5da547fa30bffae232d34f1d91c5f0
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0;
    z-index: 2;
}

@media screen and (max-width: 320px){
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 288px;
    }
}