.footer__author {
<<<<<<< HEAD
    font-family: 'Inter', Arial, Helvetica, sans-serif;
=======
    font-family: 'Inter';
>>>>>>> ac3ca31cfc5da547fa30bffae232d34f1d91c5f0
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
<<<<<<< HEAD
    margin: 0;
    padding: 0;
=======
>>>>>>> ac3ca31cfc5da547fa30bffae232d34f1d91c5f0
}

@media screen and (max-width: 767px) {
    .footer__author {
        margin: 48px 0 0;
    }
}