.intro__list_statistic {
    font-family: 'Inter';
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
}