.place__pharagraph {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 0 0 26px;
}

@media screen and (max-width: 348px) {
  .place__pharagraph {
    font-size: 16px;
    padding: 0 16px;
  }
}

.place__pharagraph:last-of-type {
  margin-bottom: 0;
}