.place__pharagraph {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 0 0 26px;
}

@media screen and (max-width: 900px) {
  .place__pharagraph {
    max-width: 352px;
    font-size: 16px;
    padding: 0;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 767px) {
  .place__pharagraph {
    max-width: 288px;
    margin: 0 16px 25px;
  }
}

.place__pharagraph:last-of-type {
  margin-bottom: 0;
}