.lead__title {
    width: 100%;
    margin: 0 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
    max-width: 710px;
}

@media screen and (max-width: 667px) {
    .lead__title {
        font-size: 45px;
        line-height: 44px;
        text-align: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        text-align: center;
        margin: 0 auto;
    }
}