.footer__links {
<<<<<<< HEAD
=======
    gap: 18px;
>>>>>>> ac3ca31cfc5da547fa30bffae232d34f1d91c5f0
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

@media screen and (max-width: 767px) {
    .footer__links {
      flex-direction: column;
<<<<<<< HEAD
      gap: 32px;
=======
>>>>>>> ac3ca31cfc5da547fa30bffae232d34f1d91c5f0
    }
}