.cover {
    display: flex;
    position: relative;
    max-width: 1184px;
    min-height: 740px;
    margin: 0 auto 92px;
  }
  
  @media screen and (max-width: 1279px) {
    .cover {
      max-width: 100%;
      min-height: 640px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .cover {
      max-width: 100%;
      min-height: 480px;
      margin-bottom: 88px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .cover {
      max-width: 100%;
      min-height: 200px;
      margin-bottom: 64px;
    }
  }