.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: 1fr;
  column-gap: 40px;
  row-gap: 48px;
  padding: 80px 0 0;
}

.place:first-of-type {
  padding-top: 0;
}

<<<<<<< HEAD
@media screen and (max-width: 1279px) {
=======
@media screen and (min-width: 1024px) and (max-width: 1279px) {
>>>>>>> ac3ca31cfc5da547fa30bffae232d34f1d91c5f0
  .place {
    grid-template-columns: 440px 1fr;
    column-gap: 32px;
    row-gap: 48px;
  }
}

<<<<<<< HEAD
@media screen and (max-width: 900px) {
  .place {
    grid-template-columns: 340px 352px;
    column-gap: 28px;
    padding-top: 73px;
=======
@media screen and (min-width: 768px) and (max-width: 1020px) {
  .place {
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
    row-gap: 48px;
    padding: 73px;
>>>>>>> ac3ca31cfc5da547fa30bffae232d34f1d91c5f0
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: minmax(288px, 1fr);
    grid-gap: 32px;
<<<<<<< HEAD
    padding-top: 50px;
=======
    padding: 50px 0 0;
>>>>>>> ac3ca31cfc5da547fa30bffae232d34f1d91c5f0
  }
}