.footer {
    max-width: 92.5%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 92px 48px 24px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .footer {
        max-width: 90.63%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer {
        max-width: 93.75%;
        padding: 88px 24px 24px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        max-width: 58.13%;
        margin-left: 16px;
        margin-top: 64px;
        flex-direction: column;
        padding: 64px 0 24px 16px;
    }
}